@define-color bg #16161D;
@define-color bg-rgb rgba(22, 22, 29, 0.85);
@define-color border #E6C384;
@define-color defBorder #54546D;
@define-color defBg #2A2A37;

* {
  font-family: "Lilex Nerd Font";
  font-size: 14px;
  padding: 0;
  min-height: 0;
  margin: 0;
  text-shadow: none;
  /* transition: none; */
  box-shadow: none;
  border: none;
  /* background: transparent; */
}

#waybar {
  background: rgba(22, 22, 29, 0.8);
  border: 2px solid #a292a3;
}

#waybar > box {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  /* margin: 5px; */
  /* padding: 0 6px; */
}

#workspaces {
  padding: 0 0;
}

#tray {
  /* background: @bg-rgb; */
  /* padding: 8px 8px; */
  /* border-radius: 12px; */
}

#clock {
  padding: 0 5px;
  border-left: 2px solid #a292a3;
  /* border-radius: 12px; */
}

#workspaces button {
  /* color: @bg-rgb; */
  /* margin: 0 5px; */
  padding: 0px 5px;
  border-right: 2px solid #a292a3;
  border-radius: 0px;
}

#workspaces button:hover,
#workspaces button.active {
  color: #e46876;
  /* background: #dcd7ba; */
}

#mpris,
#network,
#disk,
#cpu,
#custom-cpu_temp,
#backlight,
#custom-memory,
#pulseaudio,
#battery,
#custom-sensors,
#custom-network,
#custom-disk,
#custom-uptime,
#tray {
  /* margin: 0 8px 0px 0px; */
  padding: 2px 5px;
  border-left: 2px solid #a292a3;
}

#mpris {
  /* border: 2px solid #ff9e3b; */
  /* background: rgba(28, 73, 92, 0.95); */
  color: white;
  border-right: 2px solid #a292a3;
}
