* {
  font-family: "JetbrainsMono Nerd Font";
}

window#waybar {
  background: rgba(26, 26, 34, 0);
  color: #ffffff;
  /*border-radius: 6px;*/
  /*border: 1px solid #9cabca;*/

  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: rgba(26, 26, 34, 1);
  border: 1px solid #9cabca;
  border-radius: 4px;
}
tooltip label {
  color: #ffffff;
}

#workspaces {
  padding-top: 2px;
  padding-left: 2px;
}
#workspaces button {
  padding: 0px 0px;
  margin-right: 2px;

  background: rgba(24, 24, 32, 0.9);
  border: 1px solid #727169;
  border-radius: 6px;
}

#workspaces button:hover {
  background: rgba(54, 54, 70, 0.9);
}

#workspaces button.active {
  background: rgba(26, 26, 34, 0.9);
  border-color: #9cabca;
  font-weight: 800;
}

#clock.d,
#clock.t {
  padding: 3px 7px;
  margin-top: 2px;

  background: rgba(54, 54, 70, 0.9);
  /*border: 1px solid rgba(26, 26, 34, 1);*/
}
#clock.d {
  border-radius: 6px 0 0px 6px;
}
#clock.t {
  border-radius: 0 6px 6px 0;
  background: rgba(84, 84, 109, 0.9);
  margin-right: 2px;
}

#tray,
#bluetooth,
#custom-power,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery,
#custom-notification,
#custom-temp {
  margin-top: 2px;
  padding: 2px 6px;

  border-radius: 7px;
  color: #fff;
}

#custom-notification {
  background: rgba(122, 131, 130, 0.9);
  padding: 3px 11px 4px 9px;
  border-radius: 6px;
}

#tray {
  background: rgba(24, 24, 32, 0.9);
  margin-right: 2px;
}

#custom-temp {
  background: rgba(185, 141, 123, 0.9);
  padding: 2px 9px;
}

#pulseaudio {
  background: linear-gradient(
    to right,
    rgba(34, 50, 73, 0.5),
    rgba(45, 79, 103, 0.5)
  );
  border-radius: 6px 0 0 6px;
}

#memory {
  background: linear-gradient(
    to right,
    rgba(45, 79, 103, 0.5),
    rgba(101, 133, 148, 0.5)
  );
  border-radius: 0;
}

#cpu {
  background: linear-gradient(
    to left,
    rgba(45, 79, 103, 0.5),
    rgba(101, 133, 148, 0.5)
  );
  border-radius: 0;
}

#battery {
  background: linear-gradient(
    to left,
    rgba(34, 50, 73, 0.5),
    rgba(45, 79, 103, 0.5)
  );
  border-radius: 0 6px 6px 0;
}

#custom-power {
  background: rgba(196, 116, 110, 0.9);
  padding: 3px 11px 4px 9px;
  margin-left: 2px;
}
