* {
  font-family: "JetbrainsMono Nerd Font";
}

window#waybar {
  background: rgba(18, 18, 18, 0.7);
  border: 1px solid #999999;
  color: #ffffff;
  border-radius: 9px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: rgba(18, 18, 18, 0.9);
  border: 1px solid #999999;
  border-radius: 9px;
}
tooltip label {
  color: #ffffff;
}

#workspaces {
  padding: 4px;
}
#workspaces button {
  padding: 1px 5.5px;
  padding-top: 2px;
  margin-right: 0;

  background: rgb(36, 36, 36);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 7px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

#clock,
#clock.date,
#tray,
#bluetooth,
#custom-power,
#backlight,
#pulseaudio,
#memory,
#cpu,
#battery {
  padding: 0 7px;
  padding-top: 2px;
  margin: 4px 0;

  border: 1px solid black;
  border-radius: 7px;
  color: #000;
}

#clock,
#clock.date {
  background: #ffa1a1;
}

#tray {
  background: #343935;
}

#backlight {
  background: #fff;
}

#pulseaudio {
  background: #97bedc;
}

#cpu {
  background: #ffdca0;
}

#memory {
  background: #e1c0fa;
}

#battery {
  background: #94b979;
}
#battery.warning {
  background: #e9b32a;
}
#battery.critical {
  background: #cf3f61;
}

#custom-power {
  background: #00988e;
  margin-right: 4px;
}
